/* ================================= 
  Base Element Styles
==================================== */

* {
    font-family: 'Lora', serif;
}

.banner-img {
    width: 100%;
    height: auto;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
  }
  
  h2 {
    color: #000;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
    text-align: justify;
    font-weight: 900; 
  }
  
  h3 {
    color: #000;
    margin-left: 20px;

  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    
  }

  div.banner{
      position: relative;
  }
  p.overlay-text {
      position:absolute; bottom:10px; right:20px;
  }
  .overlay-text {
      font-size: 4rem;
      color: white;
      margin-right: 40px;
  }

  .banner-img {
    border-radius: 0%;
    margin-bottom: 30px;
  }

  .img-flex {
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .copyright {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    color: #b5b5b5;
  }
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

  .main-nav {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    color: #333;
  }
  .main-nav a {
	text-align: center;
	display: block;
  padding: 10px 10px;
  color: #2b2b2b;
  text-decoration: none;
}
.main-nav a:hover {
  color: #436E43;
  text-decoration: underline;
}
.input {
  margin-bottom: 10px; 
}
.recent-posts {
    list-style-type: none;
    padding-left: 15pt;
 }
.recent-posts a {
  color: #436E43; 
  text-decoration: none;
}
.recent-posts a:hover {
  text-decoration: underline;
}
 .links {
  list-style-type: none;
  
 }
 .links a {
    color: #2b2b2b;
    text-decoration: none;
 }
 .links a:hover {
   text-decoration: underline;
 }

 /* ---- Layout Containers ---- */
 .main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10px;


}
 .flex-wrap {  
    padding-left:  10px;
    padding-right: 10px;  
    padding-bottom: 20px;
    background-color: none;
    border-bottom: lightgray solid;
    border-radius: 0%;
    margin-top: 0px;
    margin-bottom: 30px;
    color: #2b2b2b;
    width: 50%;   
}


.footer-flex {
  display: inline-flex 
}

.footer-flex a:hover {
  color: #436E43;
}

form {
  margin: 20px;
  width: 100%; 
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  padding-right: 40px;

}

label, input {
  display: inline-flex;
  margin-left: 0px; 
  font-size: 20px;
  text-align: left;
  color: #333;  
  border-radius: 3px;
  border: none;
} 

button {
  padding: 5px;
  font-size: 17px;
  border-radius: .5%;
  cursor: pointer;
  background: lightgray;
  border: 1px solid darkgrey;
  border-radius: 3px;
  color: #333;
  transition: all .5s; 
  max-width: 50%;
}

button:hover {
  background-color: #5C97BF;
  border: black;
  color: white;
}

 .sign-up {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    border: solid #436E43;
    background-color: #436E43;
    border-radius: 1%;
    display: flex; 
    justify-content: center;
 }

  /* ================================= 
  Media Queries
==================================== */
 
    @media only screen and (min-width: 769px) {
  
        .main-header, 
        .main-nav  {
          display: flex;
          flex-wrap: wrap;
          } 
        
        .main-header {
          flex-direction:column;
          align-items:flex-end;
        }
        .main-nav {
           margin-left: 1px;
        }
        form {
          flex-direction: row;
        }
        .main-flex {
          flex-direction: row;
          align-items: stretch;
        }
      }
        @media only screen and (min-width: 1200px) {
        
        .main-flex {
          flex-wrap: nowrap;
        }  
        .flex-wrap {
          flex: 1;
          border-bottom: none;
        } 
        .flex-wrap:nth-child(1) {
          flex-grow: 2;
          padding-right: 0px;
        } 
        .flex-wrap:nth-child(2) {
          flex-grow: 1;
          padding-top: 55px;
          padding-right: 0px;
        }
        .flex-wrap:nth-child(3) {
          padding-left: 40px;
          padding-right: 0px;
         
        }
        .flex-wrap:nth-child(4) {
          padding-left: 0px;
          padding-right: 10px;
        }
      }
     

        