/* ================================= 
  Base Element Styles
==================================== */

* {
    font-family: 'Lora', serif;
}

.banner-img {
    width: 100%;
    height: auto;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
  }
  
  h2 {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
    text-align: justify;
    
  }
  

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 26px;
  }

  div.banner{
      position: relative;
  }
  p.overlay-text {
      position:absolute; bottom:10px; right:20px;
  }
  .overlay-text {
      font-size: 4rem;
      color: white;
      margin-right: 40px;
  }

  .banner-img {
    border-radius: 1%;
  }

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

  .main-nav {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    color: #222;
  }
  .main-nav a {
	text-align: center;
	display: block;
	padding: 5px 5px;
}
.main-nav a:hover {
	color: #093a58;
}
 

.recent-posts {
    list-style-type: none;
 }

 .links {
  list-style-type: none;
 }

 /* ---- Layout Containers ---- */
 .main-flex {
  display: flex;

}
 .col {
    padding-left:  40px;
    padding-right: 40px;  
    background-color: #D47500;
    border: #D47500 solid;
    border-radius: 1%;
    margin-top: 20px;
    box-shadow: black 50px;
    
}
.col:nth-child(2) {
  margin-left: 25px;
  text-align: left;
}
.footer-flex {
  display: inline-flex
}

form {
  margin: 20px;
  max-width: 768px;
  text-align: right;
}
label, input {
  display: inline-block;
  margin-left: 30px;
  
}
 .sign-up {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border: solid teal;
    background-color: teal;
    border-radius: 1%;
    

 }

  /* ================================= 
  Media Queries
==================================== */
  /** @media (max-width: 480px){
    .banner img {
        width: 2400px;
        height: 100%;
    }
    } **/
    @media (min-width: 769px) {
  
        .main-header, 
        .main-nav,
        .row {
          display: flex;
          }
        }
        .main-header {
          flex-direction:column;
          align-items:flex-end;
        }
        .main-nav {
           margin-left: 1px;

        }
        .col {
            flex: 1;
          }
        @media (min-width: 1025px) {
        
        .main-header {
         flex-direction:row;
          justify-content:flex-end;
        }
        
        
        }